body{
    font-family: 'Rubik', sans-serif;
    margin: 0px;
}
.tex-highlighter{
    color: #FF8367;
}
h1{
    font-size: 50px;
}
#hello-head{
    color: #363958;
}
p{
    color: dimgray;
}
.div-width{
    width: 40%;
    padding-left: 5%;
    margin-left: 3%;
    float: left;
}
.img-width{
    width: 80%;
}
.a-modify{
    text-decoration: none;
    background-image: linear-gradient(45deg, #FC7762, #F86B61);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.toper-sec{
    height: 500px;
    padding-bottom: 150px;
}
#heading-align{
    text-align: center;
}
.experiences{
    width: 30%;
    padding-left: 2%;
    float: left;
}
.experiences p{
    width: 80%;
    padding-right: 10%; 
}
.last-sec{
    background-color: white;
    margin-top: 500px;
    margin-bottom: 100px;
}
.last-div{
    background-image: url(shapes/background.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    height: 200px;
    align-items: center;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}
footer{
    text-align: center;
    color: dimgray;
}
.lowest-heading{
    color: #363958;
    font-weight: 700;
}
#footer-link{
    text-decoration: none;
    font-size: 30px;
    color: #363958;
}
footer > span{
    font-size: 20px;
}
.experiance-head{
    color: #363958;
    line-height: 20px;
}
.icons{
    height: 40px;
    width: 40px;
}
.social-sec{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: auto;
}
#inquiry-head{
    color: white;
}
footer{
    margin-bottom: 70px;
}
.identity{
    width: 60%;
    height: 100px;
}
.bouns-head{
    color: white;
}
.bonus-sec{
    background-image: linear-gradient(45deg, #1E1E1E, #3C3C3C);
    padding: 10px 20px;
    color: white;
    margin-bottom: 50px;
}
